<h1>Home Component</h1>
<figure>
	<img [src]="getFuzzyUrl()" alt="Feel the Fuzzy" />
	<figcaption><strong>Figure 9:</strong> Fuzzy</figcaption>
</figure>
<p>URL: {{ getFuzzyUrl() }}</p>
<fuzzy (fuzzyChangeEvent)="onFuzzySizeChange($event)"></fuzzy>
<nap (asleepChangeEvent)="onAsleepChange($event)"></nap>
<form [formGroup]="napLocationForm" novalidate (submit)="findNapLocation()">
	<div class="form-group">
		<label for="napLocation">Nap Location</label>
		<div class="input-group">
			<div class="input-group-addon">
				<i class="fa fa-map" aria-hidden="true"></i>
			</div>
			<input class="form-control" type="text" id="napLocation" name="napLocation" formControlName="napLocation" />
		</div>
	</div>
</form>