<h2>Nap Component</h2>
<p>Nap Status: {{ napStatus }}</p>
<form [formGroup]="napForm" (submit)="startNap()" novalidate>
	<div class="form-group">
		<label for="napTime">Nap Time</label>
		<div class="input-group">
			<div class="input-group-addon">
				<i class="fa fa-clock-o" aria-hidden="true"></i>
			</div>
			<input class="form-control" type="number" id="napTime" name="napTime" formControlName="napTime" />
		</div>
	</div>
	<button class="btn btn-info" [disabled]="asleep"><i class="fa fa-bed" aria-hidden="true"></i> Start Nap</button>
</form>